:root {
    --primary-color: rgb(7, 7, 7);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: #3b9f6fb2;
    --quaternary-color: rgba(255, 255, 255, 0.4);
    --quinary-color: rgb(8, 26, 17);
    --mode: dark;
  }
  body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .5s;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }